<?php isset($_CONFIG) or die('No direct access allowed.');

// ------------------------------------------------------------------------
// LOOKING GLASS CONFIGURATIONS
// ------------------------------------------------------------------------

/*
 * Seu AS
 */
$_CONFIG['asn'] = '12345';

/*
 * Nome da empresa
 */
$_CONFIG['company'] = 'My Company Name';

/*
 * URL do logo da empresa (ou FALSE)
 */
$_CONFIG['logo'] = 'lg_logo.gif';

/*
 * Cor principal
 */
$_CONFIG['color'] = '#444444';

/*
 * Tipo de comando para fazer uma conexão SSH (`plink' ou `sshpass')
 */
$_CONFIG['sshcommand'] = 'sshpass';

/*
 * Putty `plink' command path (for SSH connections)
 */
$_CONFIG['plink'] = '/usr/local/bin/plink';

/*
 * sshpass command path (for SSH connections)
 */
$_CONFIG['sshpass'] = '/usr/bin/sshpass';

/*
 * URL address of the IP whois service
 */
$_CONFIG['ipwhois'] = 'http://noc.hsdn.org/whois/';

/*
 * URL address of the AS whois service
 */
$_CONFIG['aswhois'] = 'http://noc.hsdn.org/aswhois/';

/**
 * Router nodes                                     
 *
 * Parameters:
 *	url          - URL address in format: [ssh|telnet]://[login]:[password]@[host]:[port]
 *	pingtraceurl - URL address for ping and traceroute tools (or FALSE)
 *	description  - Node description
 *	group        - Node group name (of FALSE)
 *	ipv6         - Node is supports IPv6 (TRUE/FALSE)
 *	os           - Node OS (ios, mikrotik, quagga, junos, openbgpd, huawei)
 */
$_CONFIG['routers'] = array
(
        'exemplo_ixbr_sp' => array
        (
                'url' => 'telnet://lg.saopaulo.sp.ix.br:23',
                'pingtraceurl' => TRUE,
                'description' => 'IX.BR - SP',
                'group' => 'AS22548',
                'ipv6' => TRUE,
                'os' => 'quagga',
        ),

	'exemplo_optus' => array
	(
		'url' => 'telnet://route-views.optus.net.au:23',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 1',
		'group' => 'AS12345',
		'ipv6' => TRUE,
		'os' => 'ios',
	),

	'exemplo_eastlink' => array
	(
		'url' => 'telnet://route-server.eastlink.ca:23',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 2',
		'group' => 'AS12345',
		'ipv6' => TRUE,
		'os' => 'ios',
	),
);


/* End of file */
